/*CENG311 Activity 2 css file*/

/*styling for the table goes here*/
body 
{
	width: 750px;
	margin: 0 auto;
}

table 
{
	border-collapse: collapse;
	border: 1px solid black;
	margin: 20px;
}

thead 
{
	background-color: yellow;
}

caption
{
	font-weight: bold;
	font-size: 24px;
}
th, td
{
	border: 1px solid black;
	padding: .2em 1em .2em .5em;
	text-align: left;
	vertical-align: middle;
}

tfoot
{
	background-color: yellow;
	font-weight: bold;
	text-align: right;
}

tbody tr:nth-child(even) td 
{
	background-color: yellow;
}

.right {
	text-align: right;
  }

.department {
text-align: left;
background-color: white;
font-weight: bold;
}
